---
const { pathname } = Astro.url;
---

<header>
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="/">Pere Montpeó</a>
      </div>
      <nav>
        <ul class="nav-list">
          <li class="nav-item"><a href="/" class=`nav-link ${pathname === '/' ? 'active' : ''}`>Inici</a></li>
          <li class="nav-item"><a href="/blog" class=`nav-link ${pathname.startsWith('/blog') ? 'active' : ''}`>Apunts</a></li>
          <li class="nav-item"><a href="#about" class="nav-link">CV</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link">Contacte</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  header {
    padding: 20px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--background);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--foreground);
    text-decoration: none;
  }

  .nav-list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--foreground);
    text-decoration: none;
    transition: color 0.2s ease;
  }

  .nav-link:hover {
    color: var(--primary);
  }
  
  .nav-link.active {
    font-weight: 800;
    position: relative;
    text-decoration: none;

  }


  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
      gap: 15px;
    }

    .nav-list {
      gap: 1rem;
    }
  }
</style>